<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="stylesheettwo.css" />
    <title>Whiskers - all you nedd for cat</title>
    <script type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
</head>
<body>

	<navigation-section></navigation-section>

	<div class="hero">
		<h1>Whiskers<br/>Shop</h1>
	</div>
	<div class="categories">
		<div class="leftside" ng-controller="CategoryController as category"> 
			<h2>KATEGORIE PRODUKTÓW</h2>
			<ul class="productmenu">
				<li ng-repeat="product in category.products">
					<a href="{{ product.link }}">{{ product.name }}</a>
				</li>
			</ul>
		</div>
		<section class="rightside" ng-controller="RightsideController as rightsideCtrl"> 
			<ul> 
				<li ng-repeat="product in rightsideCtrl.products"> 
					<a href="{{ product.link }}"><img src="{{ product.img }}"><h4>{{ product.name }}</h4></a>
				</li>
			</ul>
		</section>
	</div>
	<footer-section></footer-section>
	<script src="myapp.js"></script>
</body>
</html>
