<div class="search_panel" ng-controller="SearchPanelController" data-newWindow="true">
    <form>
        <div class="search_bar">
            <input type="text" ng-model="data.items"></input>
            <button type="button">
                <a ng-click="search_btn()">Szukaj</a>
            </button>
        </div>
        <div class="search_result" ng-repeat="image in images">
            <img class="search_image" ng-src="{{image.link}}"></img>
        </div>
        <div class="switch_page" ng-model="data.items">
            <button type="button" class="previous_page">
                <a ng-click="previous_page()">Poprzednia strona</a>
            </button>
            <button type="button" class="next_page">
                <a ng-click="next_page()">Następna strona</a>
            </button>
        </div>           
    </form>
</div>
