div {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Lobster;
	color: #404040;
}
nav {
	height: 30px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #66cdaa;
	text-align: left;
	padding-bottom: -10px;
	color: #404040;
}
nav li {
	display: inline-block;
	list-style-type: none;
	font-style: italic;
}
nav li:hover a {
	color: white;
}
.footprint {
	height: 25px;
	width: 30px;
	padding-top: -10px;
	border: none;
	display: inline;
	padding-left: 0;
	padding-right: 0;
}
.hero {
	background-image: url(http://7-themes.com/data_images/out/69/7007327-cute-lazy-cat.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-color: #404040;
}
.hero h1 {
	display: inline-block;
	margin: 0;
	padding: 80px 30px;
	padding-top: 120px;
	padding-left: 160px;
	font-family: Lobster;
	font-size: 70px;
	font-style: italic;
	color: #fff;
	text-align: right;
}
.table {
	border: #66cdaa 2px solid;
	background-color: #66cdaa;
	position: relative;
	text-align: center;
	padding: 15px 70px 30px;
}
.table h2 {
	font-family: Lobster;
	color: #404040;
}
.table ul {
	list-style-type: none;
	padding-left: 0;
	font-size: 0;
}
.table li {
	display: inline-block;
	width: 33.33%;
	margin-bottom: 15px;
	min-width: 200px;
	font-size: 1rem;
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}
.table li:hover {
	background-position: center;
}
.table li:hover h3 {
	color: white;
}
.table li a {
	display: block;
	position: relative;
	height: 173px;
}
.table h3 {
	margin-bottom: 0;
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #404040;
	font-family: Lobster;
}
.popup-position {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}
#popup-wrapper {
	width: 500px;
	margin: 70px auto;
	text-align: left;
}
#popup-container {
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	color: #404040;
	font-family: Lobster;
	left: 0%;
}

.popup-container-center {
	left: 50% !important;
    position: fixed !important;
    transform: translate(-50%, 0) !important;
}

.redirector :hover {
	font-size: 16px;
	text-decoration: underline;
}
.popup-close {
	text-align: right;
	font-size: 12px;
}
.popup-close :hover a {
	color: #66cdaa;
	text-decoration: underline;
}
#wrapper {
	width: 100%;
	text-align: center;
	border-top: solid 1px;
	border-color: #404040;
	background-color: #ffb733;
	margin-bottom: 0;
}
#wrapper p {
	margin-bottom: 0;
	margin-top: 0;
	font-family: Lobster;
	font-size: 20px;
}
#wrapper :hover {
	color: white;
}
.site-footer {
	height: 120px;
	width: 100%;
	border-top: solid 1px;
	border-color: #404040;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #66cdaa;
	clear: both;
	font-family: Lobster;
	font-style: italic;
	font-size: 15px;
	color: #404040;
	display: inline-block;
	/*position: relative;*/
}
.address {
	height: 90px;
	width: 20%;
	float: left;
	padding-left: 20px;
	padding-top: -10px;
}
.contact {
	height: 90px;
	width: 50%;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	
}
.facebook {
	height: 90px;
	width: 20%;
	display: inline-block;
	float: right;
	margin-top: -70px;
	margin-right: 20px;
	border: none;
	border-radius: 0;
	border-bottom-right-radius: 10px;
}
