div {
	border: none;
	height: 100px;
	width: 100%;
	box-sizing: border-box;
}
#navigation {
	height: 30px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #66cdaa;
	text-align: left;
	padding-bottom: -10px;
	color: #404040;
}
#footprint {
	height: 25px;
	width: 30px;
	padding-top: -10px;
}
#mainpage {
	font-family: Lobster;
	font-style: italic;
	text-align: left;
	margin-top: 9px;
	margin-left: 10px;
}
#hero {
	height: 400px;
	width: 100%;
	background:
	url(http://7-themes.com/data_images/out/69/7007327-cute-lazy-cat.jpg);
	background-position: center center;
	background-size: 100%;
	padding-top: 150px;
	position: relative;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-color: #404040;
}
#logo {
	font-family: Lobster;
	font-size: 70px;
	font-style: italic;
	color: white;
	text-align: left;
	margin-left: 90px;
	margin-top: -5px;
	width: 100%;
}
#logo2 {
	font-family: Lobster;
	font-size: 70px;
	font-style: italic;
	color: white;
	text-align: left;
	margin-left: 200px;
	margin-top: -70px;	
	margin-right: auto;
}
#productmenu {
	list-style-type: none;
	font-family: Lobster;
	font-size: 20px;
	color: #404040;
	text-align: center;
	padding-left: 25px;
	padding-top: 18px;
}
h2 {
	font-family: Lobster;
	font-size: 18px;
	color: #404040;
	text-align: center;
	padding-bottom: -10px;
}
#categories {
	height: 500px;
	width: 100%;
	background-color: #66cdaa;
	box-sizining: border-box;
	text-align: center;
	display: inline-block;
}
#leftside {
	height: 400px;
	width: 20%;
	float: left;
	background-color: #66cdaa;
	font-family: Lobster;
	border-right: solid 1px;
	border-color: #404040;
	text-align: center;
	padding-left: 10px;
	padding-top: -50px;
}
#rightside {
	height: 400px;
	width: 80%;
	float: right;
	background-color: #66cdaa;
}
#can1 {
	height: 160px;
	width: 320px;
	float: left;
	list-style-type: none;
	display: inline-block;
	background:
	url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQpSohvVxEYsLkoOb51R-mD0I-ZC352kz7FBf8gZhGI0A1B6r8m);
}
#can2 {
	height: 130px;
	width: 240px;
	list-style-type: none;
	display: inline-block;
	clear: both;
	background:
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOiriEZIwnZ_URzVYX_J1BGACEYXDYiK1IJqEzLJp5OPe0G5Zj);
}
#can3 {
	height: 150px;
	width: 220px;
	float: right;
	list-style-type: none;
	display: inline-block;
	background:
	url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlRzubMhneihjipkOQER3njWWDafiDJQS2UQfwxC9UHpXNMxfL);
}
#can4 {
	height: 200px;
	width: 228px;
	float: left;
	list-style-type: none;
	display: inline-block;
	background:
	url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ8fjAsejzA4IkcRfikYmJdy5tvH9OZAy3r7Xhpn7wlqugYS0lI);
}
#can5 {
	height: 220px;
	width: 200px;
	list-style-type: none;
	display: inline-block;
	clear: both;
	background:
	url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDDfrbYUqTf3P0LNISNyUhDj7hAWyEt-Ctw2kMErWTeu-k4JXMAQ);
}
#can6 {
	height: 200px;
	width: 170px;
	float: right;
	list-style-type: none;
	display: inline-block;
	background:
	url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ6SxxEaOxNvSCSCl1Zudb6ImuoLw41m0tYbyzhneuwTuZEGE9zew);
}
footer {
	height: 120px;
	width: 100%;
	border-top: solid 1px;
	border-color: #404040;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #66cdaa;
	clear: both;
	font-family: Lobster;
	font-style: italic;
	font-size: 15px;
	color: #404040;
	display: inline-block;
	position: relative;
}
#address {
	height: 90px;
	width: 20%;
	float: left;
	padding-left: 20px;
	padding-top: -10px;
}
#contact {
	height: 90px;
	width: 50%;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	
}
#facebook {
	height: 90px;
	width: 20%;
	display: inline-block;
	float: right;
	margin-top: -70px;
	margin-right: 20px;
	border: none;
}