div {
	border: none;
	height: 100px;
	width: 100%;
	box-sizing: border-box;
}
nav {
	height: 30px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #66cdaa;
	text-align: left;
	padding-bottom: -10px;
	color: #404040;
	list-style-type: none;
}
#footprint {
	height: 25px;
	width: 30px;
	padding-top: -10px;
	border: none;
	display: inline;
	padding-left: 0;
	padding-right: 0;
}
#mainpage {
	font-family: Lobster;
	font-style: italic;
	text-align: left;
	margin-top: 9px;
	margin-left: 10px;
	display: inline;
}
#hero {
	height: 400px;
	width: 100%;
	background:
	url(http://7-themes.com/data_images/out/69/7007327-cute-lazy-cat.jpg);
	background-position: center center;
	background-size: 100%;
	padding-top: 150px;
	position: relative;
	border-bottom: solid 1px;
	border-top: solid 1px;
	border-color: #404040;
}
#logo {
	font-family: Lobster;
	font-size: 70px;
	font-style: italic;
	color: white;
	text-align: left;
	margin-left: 90px;
	margin-top: -5px;
	width: 100%;
}
#logo2 {
	font-family: Lobster;
	font-size: 70px;
	font-style: italic;
	color: white;
	text-align: left;
	margin-left: 200px;
	margin-top: -70px;	
	margin-right: auto;
}
#productmenu {
	list-style-type: none;
	font-family: Lobster;
	font-size: 20px;
	color: #404040;
	text-align: center;
	padding-left: 25px;
	padding-top: 0px;
	display: block;
	line-height: 50px;
	background-color: #66cdaa;
	margin: 0;
	height: 100%;
}
a {
	text-decoration: none;
	color: #404040;
	font-family: Lobster;
}
a :hover {
	background-clip: content-box;
	background-color: white;
}
#productmenu :hover {
	background-clip: content-box;
	background-color: white;
}
h2 {
	font-family: Lobster;
	font-size: 18px;
	color: #404040;
	text-align: center;
	padding-top: 37px;
	box-sizining: border-box;
}
#categories {
	height: 100%;
	width: 100%;
	background-color: #66cdaa;
	box-sizining: border-box;
	text-align: center;
	display: block;
}
#leftside {
	height: 100%;
	width: 20%;
	float: left;
	background-color: #66cdaa;
	font-family: Lobster;
	border-right: solid 1px;
	border-color: #404040;
}
#productmenu {
	height: 100%;
	width: 20%;
	background-color: #66cdaa;
	font-family: Lobster;
	text-align: center;
	display: inline;
}

#rightside {
	width: 80%;
	float: right;
	background-color: #66cdaa;
	display: inline-block;
	margin-bottom: 0;
}
img {
	height: 50%;
	width: 70%;
	display: block;
	border-bottom-right-radius: 15px;
	position: relative;
	box-sizining: border-box;
}
section ul li {
	list-style-type: none;
	display: inline-block;
	position: relative;
	padding: 0;
	width: 30%;
	height: 10%;
}
h4 {
	font-size: 15px;
	font-family: solid Lobster;
	color: #404040;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px #404040;
	margin: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom-right-radius: 15px;
	width: 70%;
}
footer {
	height: 120px;
	width: 100%;
	border-top: solid 1px;
	border-color: #404040;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #66cdaa;
	clear: both;
	font-family: Lobster;
	font-style: italic;
	font-size: 15px;
	color: #404040;
	display: inline-block;
	position: relative;
	margin: 0;
}
#address {
	height: 90px;
	width: 20%;
	float: left;
	padding-left: 20px;
	padding-top: -10px;
}
#contact {
	height: 90px;
	width: 50%;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	
}
#facebook {
	height: 90px;
	width: 20%;
	display: inline-block;
	float: right;
	margin-top: -70px;
	margin-right: 20px;
	border: none;
}